*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogNHtml {
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
    padding-top: 70px;
}

.blogNavHeader {
    background-color:whitesmoke;
    color: black;
    padding-bottom: 20px;
    text-align: center;
    font-size: x-large;
}

.blogcover {
    height: 600px;
    width: auto;
    filter: drop-shadow(0px 5px 3px black);
}

.blognum {
    background-color: white;
    color: indigo;
}

.blogname {
    color:white;
    font-size: 50px;
    filter: drop-shadow(0px 5px 3px black);
}

.bloginfo {
    display: table-column;
    width: 50%;
    text-align: center;
    padding-top: 15%;
    font-size: 35px;
    color: whitesmoke;
}

.blogcontainer {
    display: flex;
    width: 100%;
    height: 700px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: linear-gradient(-20deg, #dcb0ed 0%, #99c99c 100%);
}