* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 15px;
    color: white;
    text-align: center;
    z-index: 10;
    font-family: 'Poppins', sans-serif;
}