.mainbody{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    background-color: black;
}

.mainheader{
    text-align: center;
    color:white;
    padding: 10px;
}


.outerTable{
    margin-left: auto;
    margin-right: auto;
}

.productTable1{
    text-align: left;
    border-spacing: 15px;
}

.productTable2{
    text-align: right;
    border-spacing: 15px;
}

.tableitem{
    font-size:20px;
}

.tablepic img{
    border-radius: 8px;
    height: 150px;
    width: 150px;
}

.tablebrand{
    font-size: 12px;
}

.tableprice{
    font-size: 15px;
    
}

.tablecolor{
    font-size: 12px;
    border-bottom: 1px solid #ddd
}